@{
    ViewData["Title"] = "Contacts";
}

<style>

    .privacy-hero {
        background: linear-gradient(135deg,#111827,#1f2937);
        color: white;
        padding: 50px;
        border-radius: 18px;
        text-align: center;
        margin-bottom: 35px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    }

    .privacy-card {
        background: white;
        padding: 25px;
        border-radius: 14px;
        box-shadow: 0 6px 18px rgba(0,0,0,0.08);
        height: 100%;
    }

        .privacy-card h5 {
            font-weight: 600;
            margin-bottom: 10px;
        }

    .privacy-icon {
        font-size: 28px;
        margin-bottom: 10px;
    }

</style>

<div class="container mt-4">

    <div class="privacy-hero">
        <h1>💻 Contacts</h1>
        <p class="mb-0">
        </p>
    </div>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="privacy-card">
                <div class="privacy-icon">✍️</div>
                <h5>Email Details</h5>
                <p>
                    Company Director Email: directoremail@gmail.com
                </p>
            </div>
        </div>
           
        <div class="col-md-4">
            <div class="privacy-card">
                <div class="privacy-icon">🔐</div>
                <h5>Location Address</h5>
                <p>
                  Company Address: Pernik, Bulgaria - Krakra Street number 1
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="privacy-card">
                <div class="privacy-icon">🤳 </div>
                <h5>Telephone Number Details</h5>
                <p>
                   Company Director: 0897896546

                </p>
            </div>
        </div>

    </div>

</div>
